* {
  font-size: 16px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/*body {
  height: 1200px;
}*/

header,
footer {
	background-color: #db6832;
	color: aliceblue;
  height: 60px;
  margin: 0 auto;
}
/*
header {
  position: fixed;
  width: 100%;
}

main {
  margin-top: 60px;
}
*/
.bold {
	font-weight: bold;
}

video {
  border: 5px;
  border-color: green;
}

button {
  text-align: center;
  color: aliceblue;
  padding: 15px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  background-color: #bf340d;
}

#mainButton {
	background-color: #f53a25;
	height: 50px;
  width: 640px;
}

#shootButton {
  background-color: green;
	height: 50px;
  width: 640px;
}

#pictures {
	background-color: #db6832;
	color: aliceblue;
	font-size: 18px;
	height: 200px;
  width: 500px;
  padding: 20px;
  position: relative;
  left: 640px;
}

#greeting {
  margin: 0 auto;
}

#pngs form span {
  display: inline-block;
  width: 180px;
}

#pngs form span figure img {
  height: 100px;
  width: 100px;
}
