* {
  font-size: 16px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

header,
footer {
	background-color: #db6832;
	color: aliceblue;
	height: 60px;
}

.bold {
	font-weight: bold;
}

.mainButton {
	background-color: #f53a25;
	height: 50px;
  width: 640px;
}

button {
  text-align: center;
  color: aliceblue;
  padding: 15px;
}

#pictures {
	background-color: #db6832;
	color: aliceblue;
	font-size: 18px;
	height: 200px;
  width: 500px;
  padding: 20px;
}